article {
	border-radius: 0px 0px 4px 4px;
	margin: 12px 0px;
	text-align: center;
	max-width: none;
	background-color: #fff
}

.imege {
	border-radius: 4px 4px 0px 0px;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center; /* и вертикали */
    width: 166px; /* задали размеры блоку-родителю */
    height: 146px;
    overflow: hidden;
}

.movie:hover {
	content: "";
	background-image: url('../img/btn-hower.png');
/*	background: #786b59;*/
	cursor: pointer;
}

.text3 {
	font-size: 9px;
	color: #47c3f0;
	line-height: 1.2;
}